/* Sets the default styles for the entire page */
body {
  color: black;
  background-color: floralwhite;
  font-family: "Permanent Marker", cursive;
}

/* Styles the wrapper that contains the top logo & top navigation */

.head-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: powderblue;
  overflow: hidden;
}
/* Logo Styling */

#logo {
  width: 200px;
  float: left;
  display: inline-block;
  padding-top: 1%;
  margin-left: 4%;
}

/*Top navigation styling */
#nav-bar {
  float: right;
  width: 40%;
  line-height: 2.5;
  margin-right: 10%;
}
#nav-bar ul {
  margin-bottom: 0;
  margin-top: 10%;
}
#nav-bar ul li {
  font-family: "Permanent Marker", cursive;
  color: floralwhite;
  text-decoration: none;
  display: inline;
  padding-left: 5%;
  list-style-type: none;
}
#nav-bar ul li .link-divider {
  border-right: 2px solid floralwhite;
  padding-right: 5%;
}

/* Styling for various link states for top navigaton */

ul li a:link,
ul li a:visited {
  text-decoration: none;
  color: floralwhite;
}
ul li a:hover {
  color: darkslategray;
}

/* Sets default styling for main content of page */
main {
  margin-top: 10%;
  text-align: center;
}
main h1 {
  font-size: 3em;
  margin-top: 2%;
  margin-bottom: 0;
  letter-spacing: 2px;
}
main h3 {
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  margin-bottom: 2%;
  letter-spacing: 0.5px;
}
.center-content {
  text-align: center;
}

/* Aligns content to the left of the center of the page */
.center-content p {
  margin-left: auto;
  margin-right: auto;
  width: 57%;
  text-align: left;
}

/* Styling for the "Introduction" section of the page */
#intro div img {
  width: 400px;
  border-radius: 10%;
}
#intro-start {
  margin-top: 5%;
}
#intro p,
ul {
  font-family: "Oswald", sans-serif;
}
#intro ul {
  display: inline-block;
  text-align: left;
}
hr {
  margin: 5% auto;
  width: 57%;
  height: 2px;
  border: none;
  background-color: black;
}

/* Styling for the "About Me" section of the page */

#about {
  text-align: center;
}
#about h2 {
  margin-bottom: 5%;
}
#about p {
  font-family: "Oswald", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 57%;
  text-align: left;
}

/* Styling for the "Contact" section of the page */
#contact {
  text-align: center;
}
#contact h2 {
  margin-bottom: 5%;
}
#contact p {
  font-family: "Oswald", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 57%;
  text-align: left;
}
#contact ol {
  font-family: "Oswald", sans-serif;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 57%;
}

/* Sets styling for the various link states in the "Contact" section */
#contact ol li a:link,
#contact ol li a:visited {
  text-decoration: none;
  color: black;
}
#contact ol li a:hover {
  color: darkslategray;
}

/* Sets styling for the footer of the page */
footer {
  color: black;
  font-size: 0.8em;
  margin-top: 10%;
  height: 50px;
  line-height: 2;
  text-align: center;
  background-color: powderblue;
  overflow: hidden;
}
